<h1>Which car?</h1>


<div class="selections">
  {{#each model as |carUnit|}}
    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-{{carUnit.model}}">
      <input type="radio" id="option-{{carUnit.model}}" class="mdl-radio__button" name="carOptions" value="{{carUnit._id}}"
        onchange={{action 'selectCar' value="target.value"}}>
        {{car-listing car=carUnit}}
    </label>
  {{/each}}
</div>
<br />
<div class="navigation">
  {{#link-to 'dashboard'}}
    Back
  {{/link-to}}
  <a href="#" {{action "nextPage"}}>Next</a>
</div>
